<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748918869384-cor4rm29qblo7dodd6qt4k2q8410qfdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748918869384-cor4rm29qblo7dodd6qt4k2q8410qfdn</string>
	<key>API_KEY</key>
	<string>AIzaSyDsA2f9Um5EA1DxKPxh54OXzSKa7OUD_3M</string>
	<key>GCM_SENDER_ID</key>
	<string>748918869384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advisify.app</string>
	<key>PROJECT_ID</key>
	<string>advisify</string>
	<key>STORAGE_BUCKET</key>
	<string>advisify.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748918869384:ios:ce92178d1ce4cf98817e3d</string>
</dict>
</plist>